@import './vars.module.scss';
@import './home.scss';
@import './map.scss';
@import './list.scss';
@import './nav.scss';
@import './logo.scss';
@import './artworks.scss';
@import './about.scss';
@import './store.scss';
@import './loader.scss';
@import './map-nav.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Barlow Semi Condensed", sans-serif;
}