.logo {
    width: 200px;
    position: fixed;
    z-index: 200;
    top: 20px;
    left: 20px;
    transition: left $fast;
    color: #666;

    svg {
        width: 100%;
    }
}

.logo-menu-open {
    @media (min-width: $desktop) {
        left: calc(100% - 270px);
        transition: left $fast;
    }
}

.logo-tageline {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: $dark;
    opacity: .8;
    transition: opacity $fast;
}

.logo-tageline-on {
    opacity: .3;
    transition: opacity $fast;
}

.artwork-switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    p {
        font-size: 11px;
        font-weight: 800;
        color: $dark-fill;
        margin: 5px 3px 0;
    }

    svg {
        width: 30px;
        height: 18px;
    }
}

.logo-switch-divider {
    width: 60px;
    height: 1px;
    background: $dark-fill;
    opacity: .4;
    margin: 5px 0 0;
}

.lng-switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    svg {
        width: 30px;
        height: 18px;
    }

    .us-flag-container {
        width: 18px;
        height: 18px;
        margin: 6px 4px 0 0;

        svg {
            width: 18px;
            height: 18px;
        }
    }

    .de-flag-container {
        width: 22px;
        height: 22px;
        margin: 6px 0 0 4px;

        svg {
            width: 22px;
            height: 22px;
        }
    }
}