// COLORS

$red: #A41E22;
$orange: #F09120;
$yellow: #E1B324;
$olive: #869F66;
$green: #4DA446;
$aqua: #1D9F97;
$colbalt: #3482AD;
$blue: #3B5BA9;
$purple: #674D8C;
$dark: #393A3A;

$nav-background: #ECECEC;
$art-list-background: #F8F8F8;
$menu-color: #717171;
$error-red: #BE4352;
$less-dark: #5E5E5E;
$pin-color: #9E5D5D;